/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Styles pour les titres */
h1, h2, h3 {
    color: #2c3e50;
}

/* Styles pour les boutons */
.stButton > button {
    background-color: #6e166d;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.stButton > button:hover {
    background-color: #4a0e4a;
}

/* Styles pour les services sur la page d'accueil */
.service {
    background-color: #6e166d;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}

.service h3 {
    color: #fff;
    margin-bottom: 10px;
}

/* Styles pour les messages de succès et d'erreur */
.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styles pour les formulaires */
.stTextInput > div > div > input {
    border-radius: 5px;
}

.stTextArea > div > div > textarea {
    border-radius: 5px;
}

/* Styles pour le footer */
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles responsives */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}